poc/consumer/poc-provider.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-401-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-401-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://provider.poc.saml.itst.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://provider.poc.saml.itst.dk/" name="ProviderService">
<wsp:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:ssp="http://schemas.sun.com/2006/03/wss/server" xmlns:sunwsp="http://java.sun.com/xml/ns/wsit/policy" wsu:Id="PortBindingPolicySymm">
<wsp:ExactlyOne>
<wsp:All>
<sp:AsymmetricBinding>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:AlgorithmSuite>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:Basic128 />
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:IncludeTimestamp />
<sp:InitiatorToken>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:IssuedToken>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:RequireInternalReference />
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<sp:RequestSecurityTokenTemplate>
<ns1:KeyType xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/AsymmetricKey</ns1:KeyType>
<ns2:TokenType xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</ns2:TokenType>
</sp:RequestSecurityTokenTemplate>
</sp:IssuedToken>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
</sp:InitiatorToken>
<sp:OnlySignEntireHeadersAndBody />
<sp:ProtectTokens />
<sp:RecipientToken>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:X509Token>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:RequireKeyIdentifierReference />
<sp:WssX509V3Token11 />
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
</sp:X509Token>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
</sp:RecipientToken>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
</sp:AsymmetricBinding>
<sp:Wss10>
<wsp:Policy>
<wsp:ExactlyOne>
<wsp:All>
<sp:MustSupportRefIssuerSerial />
<sp:MustSupportRefKeyIdentifier />
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
</sp:Wss10>


<wsapw3c:UsingAddressing />
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="Input_Policy">
<wsp:ExactlyOne>
<wsp:All>
<sp:SignedParts>
<sp:Body />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To" />
<sp:Header Namespace="urn:liberty:sb:2006-08" Name="Framework" />
<sp:Header Namespace="urn:liberty:sb:2006-08" Name="UserInteraction" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo" />
</sp:SignedParts>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" wsu:Id="Signing_Policy">
<wsp:ExactlyOne>
<wsp:All>
<sp:SignedParts>
<sp:Body />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="To" />
<sp:Header Namespace="urn:liberty:sb:2006-08" Name="Framework" />
<sp:Header Namespace="urn:liberty:sb:2006-08" Name="UserInteraction" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="Action" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="RelatesTo" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="ReplyTo" />
<sp:Header Namespace="http://www.w3.org/2005/08/addressing" Name="MessageID" />
</sp:SignedParts>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:liberty:sb:profile">

<xs:attribute name="profile" type="xs:string" />
</xs:schema>
<xs:schema xmlns:tns="urn:liberty:sb:2006-08" xmlns:ns2="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:liberty:sb:profile" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:liberty:sb:2006-08">

<xs:import namespace="urn:liberty:sb:profile" />

<xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" />

<xs:element name="Framework" type="tns:Framework" />

<xs:element name="RedirectRequest" type="tns:RedirectRequest" />

<xs:element name="UserInteraction" type="tns:UserInteraction" />

<xs:complexType name="UserInteraction">
<xs:sequence />
<xs:attribute name="interact" type="xs:string" />
<xs:attribute name="redirect" type="xs:boolean" use="required" />
</xs:complexType>

<xs:complexType name="Framework">
<xs:sequence />
<xs:attribute ref="ns1:profile" use="required" />
<xs:attribute name="version" type="xs:string" use="required" />
<xs:attribute ref="ns2:mustUnderstand" />
</xs:complexType>

<xs:complexType name="RedirectRequest">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
<xs:attribute name="RedirectURL" type="xs:string" />
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://schemas.xmlsoap.org/soap/envelope/">

<xs:attribute name="mustUnderstand" type="xs:string" />
</xs:schema>
<xs:schema xmlns:tns="http://provider.poc.saml.itst.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://provider.poc.saml.itst.dk/">

<xs:element name="Structure" type="tns:Structure" />

<xs:element name="echo" type="tns:echo" />

<xs:element name="echoResponse" type="tns:echoResponse" />

<xs:element name="requestInteract" type="tns:requestInteract" />

<xs:element name="requestInteractResponse" type="tns:requestInteractResponse" />

<xs:complexType name="requestInteract">
<xs:sequence>
<xs:element name="user" type="xs:string" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestInteractResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="echo">
<xs:sequence>
<xs:element name="structure" type="tns:Structure" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Structure">
<xs:sequence>
<xs:element name="structure" type="tns:Structure" form="qualified" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="value" type="xs:string" form="qualified" minOccurs="0" />

</xs:sequence>
</xs:complexType>

<xs:complexType name="echoResponse">
<xs:sequence>
<xs:element name="structure" type="tns:Structure" form="qualified" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>

</types>
<message name="echo">
<part name="parameters" element="tns:echo" />
<part xmlns:ns3="urn:liberty:sb:2006-08" name="Framework" element="ns3:Framework" />
</message>
<message name="echoResponse">
<part name="result" element="tns:echoResponse" />
</message>
<message name="requestInteract">
<part name="parameters" element="tns:requestInteract" />
<part xmlns:ns4="urn:liberty:sb:2006-08" name="UserInteraction" element="ns4:UserInteraction" />
<part xmlns:ns5="urn:liberty:sb:2006-08" name="Framework" element="ns5:Framework" />
</message>
<message name="requestInteractResponse">
<part name="result" element="tns:requestInteractResponse" />
</message>
<message name="RequestToInteractFault">
<part xmlns:ns6="urn:liberty:sb:2006-08" name="fault" element="ns6:RedirectRequest" />
</message>
<portType name="Provider">
<operation name="echo" parameterOrder="parameters Framework">
<input wsam:Action="http://provider.poc.saml.itst.dk/Provider/echoRequest" message="tns:echo" />
<output wsam:Action="http://provider.poc.saml.itst.dk/Provider/echoResponse" message="tns:echoResponse" />
</operation>
<operation name="requestInteract" parameterOrder="parameters UserInteraction Framework">
<input wsam:Action="http://provider.poc.saml.itst.dk/Provider/requestInteractRequest" message="tns:requestInteract" />
<output wsam:Action="http://provider.poc.saml.itst.dk/Provider/requestInteractResponse" message="tns:requestInteractResponse" />
<fault message="tns:RequestToInteractFault" name="RequestToInteractFault" wsam:Action="http://provider.poc.saml.itst.dk/Provider/requestInteract/Fault/RequestToInteractFault" />
</operation>
</portType>
<binding name="ProviderPortBinding" type="tns:Provider">
<wsp:PolicyReference URI="#PortBindingPolicySymm" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="echo">
<soap:operation soapAction="http://provider.poc.saml.itst.dk/Provider/echoRequest" />
<input>
<wsp:PolicyReference URI="#Input_Policy" />
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:echo" part="Framework" use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#Signing_Policy" />
<soap:body use="literal" />
</output>
</operation>
<operation name="requestInteract">
<soap:operation soapAction="" />
<input>
<wsp:PolicyReference URI="#Input_Policy" />
<soap:body use="literal" parts="parameters" />
<soap:header message="tns:requestInteract" part="UserInteraction" use="literal" />
<soap:header message="tns:requestInteract" part="Framework" use="literal" />
</input>
<output>
<wsp:PolicyReference URI="#Signing_Policy" />
<soap:body use="literal" />
</output>
<fault name="RequestToInteractFault">
<wsp:PolicyReference URI="#Signing_Policy" />
<soap:fault name="RequestToInteractFault" use="literal" />
</fault>
</operation>
</binding>
<service name="ProviderService">
<port name="ProviderPort" binding="tns:ProviderPortBinding">
<soap:address location="http://localhost:8880/poc-provider/ProviderService" />
</port>
</service>
</definitions>