poc/provider/WebContent/WEB-INF/wsit-dk.itst.saml.poc.provider.Provider.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://provider.poc.saml.itst.dk/" 
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl" 
	xmlns:sp2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	xmlns:t="http://docs.oasis-open.org/ws-sx/ws-trust/200512" 
	xmlns:sc="http://schemas.sun.com/2006/03/wss/server"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" targetNamespace="http://provider.poc.saml.itst.dk/" name="ProviderService">
	<message name="echo" />
	<message name="echoResponse" />
	<message name="requestInteract" />
	<message name="requestInteractResponse" />
	<message name="RequestToInteractFault" />
	<portType name="Provider">
		<operation name="echo">
			<input message="tns:echo"></input>
			<output message="tns:echoResponse"></output>
		</operation>
		<operation name="requestInteract" parameterOrder="parameters interact">
			<input message="tns:requestInteract"/>
			<output message="tns:requestInteractResponse"/>
			<fault message="tns:RequestToInteractFault" name="RequestToInteractFault"/>
	</operation>
	</portType>
	<binding name="ProviderPortBinding" type="tns:Provider">
		<wsp:PolicyReference URI="#PortBindingPolicySymm" />
		<soap:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document" />
		<operation name="echo">
			<soap:operation soapAction="" />
			<input>
				<wsp:PolicyReference URI="#Input_Policy" />
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<wsp:PolicyReference URI="#Signing_Policy" />
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="requestInteract">
			<soap:operation soapAction=""/>
			<input>
				<wsp:PolicyReference URI="#Signing_Policy" />
				<soap:body use="literal" parts="parameters"/>
				<soap:header message="tns:requestInteract" part="interact" use="literal"/>
			</input>
			<output>
				<wsp:PolicyReference URI="#Signing_Policy" />
				<soap:body use="literal"/>
			</output>
			<fault name="RequestToInteractFault">
				<wsp:PolicyReference URI="#Signing_Policy" />
				<soap:fault name="RequestToInteractFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ProviderService">
		<port name="ProviderPort" binding="tns:ProviderPortBinding">
			<soap:address location="http://localhost:8080/poc-provider/ProviderService"></soap:address>
		</port>
	</service>
	
	<wsp:Policy wsu:Id="PortBindingPolicySymm">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsaws:UsingAddressing xmlns:wsaws="http://www.w3.org/2006/05/addressing/wsdl"/>
				 <sp:AsymmetricBinding>
				 	<wsp:Policy>
				 		<sp:InitiatorToken>
				 			<wsp:Policy>
				 				<sp:X509Token><!--  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never"> -->
				 					<wsp:Policy>
				 						<sp:WssX509V3Token11 />
				 					</wsp:Policy>
				 				</sp:X509Token>
				 			</wsp:Policy>
				 		</sp:InitiatorToken>
				 		<sp:RecipientToken>
				 			<wsp:Policy>
				 				<sp:X509Token />
				 			</wsp:Policy>
				 		</sp:RecipientToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:IncludeTimestamp/>
						<sp:OnlySignEntireHeadersAndBody />
						<sp:ProtectTokens/>
				 	</wsp:Policy>
				 </sp:AsymmetricBinding>
				<sp:Wss11>
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier />
						<sp:MustSupportRefIssuerSerial />
						<sp:MustSupportRefThumbprint />
						<sp:MustSupportRefEncryptedKey />
					</wsp:Policy>
				</sp:Wss11>
				<sc:KeyStore wspp:visibility="private" storepass="changeit" type="jks" alias="xws-security-server"
					location="server-keystore.jks" />
				<sc:TrustStore wspp:visibility="private" location="truststore" storepass="changeit" />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
	<wsp:Policy wsu:Id="Input_Policy">
		<sp:SignedSupportingTokens sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
			<wsp:Policy>
				<sp:SamlToken>
					<wsp:Policy>
						<sp:WssSamlV20Token11 />
					</wsp:Policy>
				</sp:SamlToken>
			</wsp:Policy>
		</sp:SignedSupportingTokens>
		<sp:SignedParts>
			<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="UserInteraction" Namespace="urn:liberty:sb:2006-08" />
			<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08" />
			<sp:Body />
		</sp:SignedParts>
	</wsp:Policy>
	
	<wsp:Policy wsu:Id="Signing_Policy">
		<sp:SignedParts>
			<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
			<sp:Header Name="UserInteraction" Namespace="urn:liberty:sb:2006-08" />
			<sp:Header Name="Framework" Namespace="urn:liberty:sb:2006-08" />
			<sp:Body />
		</sp:SignedParts>
	</wsp:Policy>
</definitions>