poc/provider/WebContent/WEB-INF/wsdl/ProviderService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://provider.poc.saml.itst.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://provider.poc.saml.itst.dk/">
	<xs:element name="echo" type="tns:echo"></xs:element>
	<xs:element name="echoResponse" type="tns:echoResponse"></xs:element>
	<xs:complexType name="echo">
		<xs:sequence></xs:sequence>
	</xs:complexType>
	<xs:complexType name="echoResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>